* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

header {
    position: absolute;
    top: 2vh;
    left: 2.5vh;
    z-index: 10;
}

header #logo {
    position: absolute;
    height: 6.875rem;
    width: auto;
}

main {
    background-color: #fff;
}

#container-pagina {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#container-imagem {
    flex: 1.1;
}

#imagem-direita {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#container-cadastro {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    background-color: white;
    border-radius: 6.5vh;
    box-shadow: 0 0.75vh 1.85vh rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
}

#texto-login {
    display: flex;
    justify-content: center;
    color: #ff9d00;
    font-size: 4.375rem;
    margin-top: 3rem;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-formulario {
    height: 3.9rem;
    width: 33.25rem;
    border-radius: 4.375rem;
    border: 0.063rem solid #ff9d00;
    padding-top: 0.625rem;
}

.input-formulario:not(:placeholder-shown) {
    height: 3.9rem;
    width: 33.25rem;
    border-radius: 4.375rem;
    border: 0.063rem solid #ff9d00;
    padding-top: 0.625rem;
    font-size: 1.5rem;
    text-indent: 1.5625rem;
    padding-bottom: 0.25rem;
}

.input-formulario::placeholder {
    height: 3.9rem;
    width: 33.25rem;
    padding-top: 0.625rem;
    font-size: 2em;
    text-indent: 1.563rem;
    padding-bottom: 0.25rem;
}

form .label-formulario {
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
    display: block;
    text-align: left;
    width: 73%;
}

.label-conectado {
    font-size: 1.3rem;
    font-weight: normal;
    text-decoration: none;
}

#circulo-fundo {
    position: absolute;
    background-color: #FFDAB5;
    height: 120vh;
    width: 70vh;
    border-top-right-radius: 1000%;
    border-bottom-right-radius: 67%;
    top: 0;
    left: 0;
    z-index: 0;
}