/* Estilos comuns para todas as páginas de países */
header {
    background-color: transparent;
}

nav {
    background-color: transparent;
}

#imagem-fundo {
    object-fit: cover;
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

#filtro-imagem {
    background-color: #FF9D00;
    object-fit: cover;
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 50%;
}

#texto-Main {
    margin-left: 3.125rem;
    margin-bottom: 1.25rem;
}

#texto-Main h1 {
    font-size: 1.25rem;
    color: white;
}

#container-imagem-animal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#container-imagem-animal img {
    border-radius: 1.875rem;
    display: block;
}

#imagem-maior img {
    height: 45rem;
    width: auto;
}

#imagem-menor img {
    height: 45rem;
    width: auto;
}

/* Estilos dos cards */
.card {
    position: relative;
    border-radius: 0.625rem;
    overflow: hidden;
}

.card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 165, 0, 0.7);
    color: white;
    padding: 0.9375rem;
    box-sizing: border-box;
    border-radius: 1.875rem;
}

#imagem-maior h3 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-left: 0.625rem;
    margin-right: 1rem;
    margin-bottom: 0.9375rem;
}

#imagem-maior p {
    font-weight: 400;
    font-size: 1.875rem;
    margin-left: 0.625rem;
}

#container-overlay-img-menor {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#container-overlay-img-menor h3 {
    font-weight: 600;
    font-size: 1.375rem;
    margin-top: 0.625rem;
    margin-left: -1rem;
}

#container-overlay-img-menor p {
    font-weight: 400;
    font-size: 1.25rem;
    margin-left: -1rem;
}

#container-overlay-img-menor span {
    margin-top: 1.875rem;
    font-size: 1.25rem;
    font-weight: bold;
}

#titulo-overlay1 {
    display: flex;
}