/* Estilos comuns para todas as páginas de países */
header {
    background-color: transparent;
}

nav {
    background-color: transparent;
}

#imagem-fundo {
    object-fit: cover;
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

#filtro-imagem {
    background-color: #FF9D00;
    object-fit: cover;
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 50%;
}

#texto-Main {
    margin-left: 5vh;
    margin-bottom: 2vh;
}

#texto-Main h1 {
    font-size: 2vh;
    color: white;
}

#container-imagem-animal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* IMPORTANTE */
    flex-wrap: wrap;
    /* IMPORTANTE */
    row-gap: 3vh;
}

#container-imagem-animal img {
    border-radius: 3vh;
    display: block;
}

#imagem-maior img {
    height: 45rem;
    width: auto;
}

#imagem-menor img {
    height: 45rem;
    width: auto;
}

/* Estilos dos cards */
.card {
    position: relative;
    border-radius: 1vh;
    overflow: hidden;
}

.card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 165, 0, 0.7);
    color: white;
    padding: 1.5vh;
    box-sizing: border-box;
    border-radius: 3vh;
}

#imagem-maior h3 {
    font-weight: 700;
    font-size: 4vh;
    margin-left: 1vh;
    margin-right: 1.6vh;
    margin-bottom: 1.5vh;
}

#imagem-maior p {
    font-weight: 400;
    font-size: 3vh;
    margin-left: 1vh;
}

#container-overlay-img-menor {
    padding-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#container-overlay-img-menor h3 {
    font-weight: 600;
    font-size: 2.2vh;
    margin-top: 1vh;
    margin-left: -1.6vh;
}

#container-overlay-img-menor p {
    font-weight: 400;
    font-size: 2vh;
    margin-left: -1.6vh;
}

#container-overlay-img-menor span {
    margin-top: 3vh;
    font-size: 2vh;
    font-weight: bold;
}

#titulo-overlay1 {
    display: flex;
}
