<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="exemplo.css">
</head>

<body>
    <header>
        <section>
            <ul>
                <li><a href=""><img id="imagemLogo" src="img/logoZooZ-Photoroom.png" alt=""></a></li>
                <li class="texto-header"><a href="">Favoritos</a></li>
                <li class="texto-header"><a href="">Doações</a></li>
                <li id="last"><a href=""><img id="icone-avatar" src="img/ZebraFundoClean.png" alt="Imagem Zebra"></a></li>
            </ul>

        </section>
    </header>

    <!-- <nav>
        <form action="">
            <input type="text" id="idbusca" placeholder="📍Animal/País">
            <button id="botao-buscar">🔍Buscar</button>
        </form>
    </nav> -->
    
    <!-- <article>
            <figure id="quadrado-atras">
                <h1 id="textoMain">Texto</h1>
            </figure>
    </article> -->
</body>
</html>